<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @song.song_type %>
</p>

<p>
  <strong>Singer:</strong>
  <%= @song.singer %>
</p>

<p>
  <strong>Img:</strong>
  <%= @song.img %>
</p>

 <audio controls="controls">
   <source src="唐人.mp3" type="audio/mpeg">
 </audio>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
