<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag 'ckeditor/ckeditor.js' %> </head>
  <body style='background-image: url("<%= asset_path 'back_ground.png'%>");background-repeat: repeat'>
    <div class="navbar navbar-default navbar-static-top">
      <div  style='background-image: url("<%= asset_path 'title.png'%>");font-color:white'>
        <a class="navbar-brand" style="color:white;  href="/">北华音乐网</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">

          <ul class="nav navbar-nav">
            <li><%= link_to "音乐资讯", musics_path, style: 'color:#FFFFFF'%></li>
            <li><%= link_to "用户管理", users_path,style:'color:#FFFFFF'%></li>
            <li><%= link_to "上传歌曲", songs_path,style:'color:#FFFFFF'%></li>
            <li><%= link_to "下载音乐", "/",style:'color:#FFFFFF'%></li>
            <li><%= link_to "系统设置", "/",style:'color:#FFFFFF'%></li>
            <li><%= link_to "管理员", "/",style:'color:#FFFFFF'%></li>
            <li><%= link_to "注册会员", "/",style:'color:#FFFFFF'%></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9" style='width:100%'>
          <%= yield %>
        </div>
      </div>

      <audio autoplay>
       <source src='/my audio.mp3' type="audio/mpeg">
       </audio>

      <footer>
        <p> zhangyu&copy;2015毕业设计</p>
      </footer>

    <%#<video src="http://v2v.cc/~j/theora_testsuite/320x240.ogg" controls>%>
    <%#  Your browser does not support the <code>video</code> element.     %>
    <%#</video>                                                            %>

    </div>

    <script type="text/javascript">$(document).ready(function() {
        if ($('textarea').length > 0) {
            var data = $('textarea');
            $.each(data, function(i) {CKEDITOR.replace(data[i].id);});
        }
        });
    </script>

  </body>
</html>
